main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 80px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.item {
    flex: 0 0 calc(33.33% - 20px); /* set the width of each item to take up 33.33% of the container, with a 20px margin */
    margin: 10px;
}