.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    max-width: 400px;
}

.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    overflow: hidden;
    cursor: pointer;
}

.img-container img{
    height: 100%;
    width: auto;
}

.card-cart-button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5ece7b;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin: 260px 0 0 260px;
    cursor: pointer;
}

.card-cart-button img{
    width: 25px;
    margin: 0px 0 0 -5px;
}

.wheels{
    width: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 5px;
}

.wheels img{
    height: 5px;
    width: 5px;
}

.title-price-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding:20px 0 0 0 ;
    font-family: "Raleway", sans-serif;
}

.title{
    font-size: 18px;
    font-weight: 300;
}

.title:hover{
    color: #5ece7b;
    cursor: pointer;
}

.price{
    font-size: 18px;
    font-weight: 500;
}

.out-of-stock-overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: hsl(231, 6%, 58%, 0.3);
    width: 350px;
    height: 350px;
}