.y-gallery-container{
    height: 520px;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.y-gallery-container::-webkit-scrollbar {
    display: none;
  }

.y-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    margin-bottom: 20px;
    scroll-snap-align: start;
    cursor: pointer;
}

.y-img{
    max-height: 110px;
    max-width: 110px;
}

@media (max-width: 786px) {


    .y-gallery-container {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      scroll-snap-type: x mandatory;
    }
    
    .y-img-container {
      display: inline-block;
      vertical-align: top;
      margin-right: 20px;
    }
  }
  