.container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1440px;
    margin: 40px 0px;
}

h1{
    font-family: "Raleway", "sans-serif";
    font-size: 40px;
    font-weight: 400;
    color: black;
    margin-left: 80px;
}