

nav, .nav{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 1440px;
  height: 80px;
  padding: 0 5%;
  z-index: 30;
}

.link {
  margin-right: 5vw;
  list-style: none;
  font-size: 16px;
  text-decoration: none;
  color: black;
  position: relative;
  padding: 0.2em 0;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.link:hover{
    color: #5ece7b;
    font-weight: 400;
}


.link::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -24%;
    width: 150%;
    height: 0.08em;
    background-color: #5ece7b;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
    transform: scale(0);
    transform-origin: center;
  }
  
  .link:hover::after,
  .link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
    transform: scale(1);
  }

.logo-box {
    width: 32px;
    height: 28px;
    margin: 30px 0 20px auto;
  }
  
  .logo-arrow {
    width: 14px;
    height: 9px;
    position: relative;
    bottom: 28px;
    right: 23px;
  }
  
  .logo-point {
    position: relative;
    bottom: 35px;
    right: 27px;
  }

  .dropdowns{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-controls {
    display: flex;
    font-size: 18px;
    padding: 34px 101px 32px 0;
  }

  .nav-currency-selector{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 500;
  }

  .nav-currency-selector .arrow {
    margin-left: 8px;
    padding-top: 3px;
  }


.full-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  padding-bottom: 6px;
  cursor: pointer;
}


.cart {
  margin-left: 22px;
  position: relative;
  top: 0.5px;
  right: 18px;
}

.cart-amount {
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  padding-bottom: 0px;
  margin: -10px 0 5px 15px;
}


.nav-wheels img {
  margin-right: 2px;
  height: 6px;
  width: 6px;
}

.nav-wheels{
  margin-left: -18px;
  margin-top: -5.8px;
  width: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 5px;
}

.overlay {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100vw;
  height: 4500px; 
  background-color: lightgray;
  opacity: 0.3;
  z-index: 1;
}



@media (max-width: 768px) {

  .logo-box{
    position: relative;
    margin: 0px 0px -5px 0;
  }

  .logo-arrow, .logo-point{
    position: relative;
    margin: 0 0px -25px 0;
  }

  .nav-controls{
    padding: 34px 20px 32px 0;

  }
}

@media (max-width: 480px) {
  .logo-box{
    display: none;
  }

  .link{
    font-size: 12px;
  }
  .nav-controls{
    padding: 34px 0px 32px 0;

  }
}
